


.pagination-container {
    display: flex;
    align-items: center;
  }
  
  .pagination {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .jump-page {
    margin-left: 20px; /* Adjust the spacing between pagination and jump-to-page */
  }
  

  .form-outline {
    position: relative;
  }

  .form-outline input[type="search"] {
    padding-right: 2.5rem;
  }

  .form-outline i.fa-times-circle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0.5rem;
    color: #888;
    cursor: pointer;
  }

  .form-outline i.fa-times-circle:hover {
    color: #333;
  }