
  

  

  .eye-button-wrapper {
    position: absolute;
    right: 10px;
    display: flex;
    top: 35%;
    color: black;
    transform: translateY(-50%);
  }
  
  .eye-b {
    cursor: pointer;
  }
  